@import url(https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@300&family=PT+Sans&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Merriweather, serif;
  outline: 0;
  text-decoration: none;
  transition: all 0.2s linear;
  line-height: 1.5;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: #464646;
  padding-left: 30rem;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: #3FA796;
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 10px;
  text-shadow: 0 0 3px #111111, 0 0 5px rgba(255, 255, 255, 0.8),0 0 5px rgba(255, 255, 255, 0.5),0 0 5px rgba(255, 255, 255, 0.3);

}
.btn:hover {
  color: #3FA796;
  background:#fff;
  letter-spacing: 0.2rem;
}
/*  header section's styling starts here*/
header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  flex-flow: column;
  padding: 8rem 2rem;
  width: 30rem;
  text-align: center;
}
header .logo {
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
  font-weight: bolder;
}
header .logo span {
  text-transform: uppercase;
  color: #3FA796;
  
  text-shadow: 0 0 3px #111111, 0 0 5px rgba(255, 255, 255, 0.5),0 0 5px rgba(255, 255, 255, 0.3);
}
header .navbar a {
  display: block;
  font-size: 2rem;
  color: #111;
  margin: 2rem 0;
}
header .navbar a:hover {
  letter-spacing: 1.2rem;
  font-weight: 700;
  color: #3FA796;
}
header .icons a:hover {
  letter-spacing: 2rem;
  margin:2px;
}
header .icons a .fa-twitter:hover{
color:royalblue;
}
header .icons a .fa-instagram:hover{
  color:magenta;
  }
  header .icons a .fa-facebook-f:hover{
    color:lightseagreen;
    }
header .icons a {
  letter-spacing: 1.2rem;
  color: #3FA796;
  font-size: 3rem;
  text-decoration: none;
}
/*  header section's styling ends here*/
/*  cursor styling begins here*/
.cursor-1 {
  position: absolute;
  top: 500px;
  left: 0;
  height: 1rem;
  width: 1rem;
  background: #3FA796;
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1000;
}
.cursor-1 .active {
  height: 7rem;
  width: 7rem;
  opacity: 0.3;
}
.cursor-2 {
  position: absolute;
  top: 0;
  left: 500px;
  height: 1rem;
  width: 1rem;
  pointer-events: none;
  border: 0.1rem solid #3FA796;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1000;
  transition: 0.3s linear;
}
.cursor-2 .active {
  display: none;
}
/*  cursor's styling ends here*/
section {
  padding: 1rem;
  min-height: 100vh;
}
/* home styling starts here */
.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.home .image {
  flex: 1 1 40rem;
}
.home .image img {
  width: 85%;
  padding-left: 50px;
  border-radius: 50%;
  
  
}
.home .content .hi {
  font-size: 3rem;
  font-weight: 700;
  color: #3FA796;

  text-shadow: 0 0 3px #111111, 0 0 5px rgba(255, 255, 255, 0.8),0 0 5px rgba(255, 255, 255, 0.5),0 0 5px rgba(255, 255, 255, 0.3);
}
.home .content h3 {
  font-size: 4.5rem;
  color: #fff;
  text-transform: uppercase;

  text-shadow: 0 0 3px #111111, 0 0 5px rgba(255, 255, 255, 0.8),0 0 5px rgba(255, 255, 255, 0.5),0 0 5px rgba(255, 255, 255, 0.3);

}
.home .content {
  flex: 1 1 40rem;
  padding: 2vh 2vw;
}
.home .content h3 span {
  color: #3FA796;
  text-transform: uppercase;

  text-shadow: 0 0 3px #111111, 0 0 5px rgba(255, 255, 255, 0.8),0 0 5px rgba(255, 255, 255, 0.5),0 0 5px rgba(255, 255, 255, 0.3);

}
.home .content .info {
  font-size: 2.5rem;
  color: #fff;
  padding: 5rem 0;
  text-shadow: 0 0 3px #111111, 0 0 5px rgba(255, 255, 255, 0.8),0 0 5px rgba(255, 255, 255, 0.5),0 0 5px rgba(255, 255, 255, 0.3);

}
.home .content .text {
  font-size: 1.7rem;
  color: #fff;
  padding: 5rem 0;
  font-weight: 700;
  display: block;
  text-shadow: 0 0 3px #111111, 0 0 5px rgba(255, 255, 255, 0.8),0 0 5px rgba(255, 255, 255, 0.5),0 0 5px rgba(255, 255, 255, 0.3);

}
/* home styling ends here */
/* about section's styling starts here  */
.about .row-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-bottom: 2rem;
}
.about .heading {
  font-size: 5rem;
  font-weight: 700;
  padding: 20px;
  color: antiquewhite;
  text-shadow: 0 0 3px #111111, 0 0 5px rgba(255, 255, 255, 0.8),0 0 5px rgba(255, 255, 255, 0.5),0 0 5px rgba(255, 255, 255, 0.3);

}
.about .row-1 .content {
  flex: 1 1 50rem;
}
.about .row-1 .content h3 {
  color: #fff;
  font-size: 3.5rem;
  text-shadow: 0 0 3px #111111, 0 0 5px rgba(255, 255, 255, 0.8),0 0 5px rgba(255, 255, 255, 0.5),0 0 5px rgba(255, 255, 255, 0.3);

}
.about .row-1 .content p {
  color: #fff;
  font-size: 1.7rem;
  padding: 0.5rem 0;
  text-shadow: 0 0 3px #111111, 0 0 5px rgba(255, 255, 255, 0.8),0 0 5px rgba(255, 255, 255, 0.5),0 0 5px rgba(255, 255, 255, 0.3);

}
.about .row-1 .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0.5rem 0;
}
.about .row-1 .content .box-container .box {
  flex: 1 1 20rem;
}
.about .row-1 .content .box-container .box span {
  color: #3FA796;
}
.about .row-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}
.about .row-2 .skills {
  flex: 1 1 40rem;
  display: flex;
}
.about .row-2 .skills-container {
  flex: 1 1 40rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.about .row-2 .skills-container .three {
  flex: 1 1 15rem;
  background: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 3px #111111, 0 0 5px rgba(255, 255, 255, 0.8),0 0 3px rgba(255, 255, 255, 0.5),0 0 1px rgba(255, 255, 255, 0.3);

}
.about .row-2 .skills-container .three h3 {
  color: #3FA796;
  font-size: 3rem;
}
.about .row-2 .skills-container .three p {
  color: #333;
  font-size: 1.5rem;
  padding-top: 2rem;
}
/* about section's styling ends here */
/* contact section starts here*/
.contact .heading {
  font-size: 5rem;
  font-weight: 700;
  padding: 20px;
  color: #fff;
  text-shadow: 0 0 3px #111111, 0 0 5px rgba(255, 255, 255, 0.8),0 0 5px rgba(255, 255, 255, 0.5),0 0 5px rgba(255, 255, 255, 0.3);

}
.contact .icons-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}
.contact .icons-container .icons {
  flex: 1 1 25rem;
  text-align: center;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0 3px #111111, 0 0 5px rgba(255, 255, 255, 0.8),0 0 3px rgba(255, 255, 255, 0.5),0 0 1px rgba(255, 255, 255, 0.3);

  border-radius: 0.5rem;
}
.contact .icons-container .icons i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: #3FA796;
  color: #fff;
  border-radius: 50%;
}
.contact .icons-container .icons h3 {
  color: #111;
  font-size: 2rem;
  padding: 0.5rem 0;
  padding-top: 1rem;
}
.contact .icons-container .icons p {
  color: #333;
  font-size: 1.7rem;
}
.contact .row {
  gap: 1.5rem;
}
.contact .row form {
  flex: 1 1 55rem;
  background: #fff;
  padding: 0 2rem;
  box-shadow: 0 0 3px #111111, 0 0 5px rgba(255, 255, 255, 0.8),0 0 3px rgba(255, 255, 255, 0.5),0 0 1px rgba(255, 255, 255, 0.3);

  border-radius: 0.5rem;

}
.contact .row form .box,
.contact .row form textarea {
  width: 100%;
  /* border-bottom: 0.1rem solid #fff; */
  border-radius: 10px;
  /* color: #111; */
  text-transform: none;
  font-size: 1.7rem;
  padding: 1rem 0;
  margin: 1rem 0;
}
.contact .row form .box:focus,
.contact .row form textarea:focus {
  border-color: #3FA796;
}
.contact .row form .box::placeholder,
.contact .row form textarea::placeholder {
  text-transform: capitalize;
}
.contact .row form textarea {
  height: 20rem;
  resize: none;
}
.contact .row form .btn {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
/*contact section's styling ends here  */
/* footer's styling starts here */
.footer {
  margin-top: 2rem;
  font-size: 2rem;
  padding: 2.5rem;
  text-align: center;
  color: #fff;
  background: #fff;
  box-shadow: 0 0 3px #111111, 0 0 3px rgba(255, 255, 255, 0.8),0 0 3px rgba(255, 255, 255, 0.5),0 0 1px rgba(255, 255, 255, 0.3);

}
.footer span {
  color: #3FA796;
}
/* footer section's styling ends here  */

/* starting media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  body {
    padding: 0;
  }
  #menu-bars {
    display: initial;
  }
  header {
    left: -120%;
  }
  header.active {
    left: 0;
  }
  .cursor-1,
  .cursor-2 {
    display: none;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  body {
    padding: 0;
  }
  header {
    width: 100%;
  }
}
/* snow overlay */
.snow
{

position:absolute;
width: 100vw;
height: 318vh;
z-index: -100;
background-image: url("./images/SnowOverlay.png");
background-size: 100vw 100vh;
background-repeat: repeat-y;
animation: myfirst 20s linear 2s infinite;
}
@keyframes myfirst {
  0%{
    background-position-y: 0%;
  }
  100%{
    background-position-y: 100%;
  }
}

